*,
*::after,
a::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #5a5a5a;
}

h2 {
    font-weight: 300;
    font-size: 50px;
    color: #3677fd;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
}