.clients {
    background-color: #f1f8ff;
}

.container_list__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
    
    .icon > svg {
        align-items: center;
        justify-content: center;
        opacity: 0.5;    
        width: 270px;  
    }

    .icon:hover > svg{
        opacity: 1;
    }
}

