.header {
    background-image: url(../images/background-header.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
    
    &__image {
        width: 150px;
        
        .photo {
            border-radius: 50%;
            box-shadow: 0 0 50px rgba(255,255,255,0.5);
        }
    }
    
    &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
}







.button {
    height: 50px;
    width: 200px;
    border: none;
    color: #3c93ff;
    background-color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}