

.modal-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black,.5);
    @include center;
    display: none;
}

.modal__hire-me {
    width: 800px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.hire-me__form-wrapper {
    @include center;
}

.hire-me__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.form-input {
    width: 100%;
    height: 45px;
    border: 1px solid #b7c0c9;
    border-radius: 10px;
    padding: 13px 20px;
    margin-bottom: 15px;
}

.form-textarea {
    border: 1px solid #b7c0c9;
    border-radius: 10px;
    resize: none;
    width: 100%;
    height: 180px;
    padding: 17px;
}

#hireMeClose {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    fill: #3676fd;
}

.hire-me__title {
    margin: 60px 0;
    font-weight: 500;
    text-align: center;
}

#btn-submit {
    background-color: #3676fd;
    margin: 40px 0;
    color: #fff;
    cursor: pointer;
}