@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@import "base";

@import "myworks";

@import "clients";

@import "footer";

@import "hireMe";

@import "aboutMe";

@import "header";

@import "services";



